@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "variables";

html, body {
  height : 100%;
}

body {
  background-color : darken($white, 5%);
  font-family      : "Helvetica Neue", Helvetica, Arial, sans-serif;
  color            : $black;
  padding-top      : 70px;
}

.hr-container {
  background-color : darken($white, 5%);
}

.hr-settings {
  @include box-shadow(transparentize($black, 0.8) 0px 0px 2px 1px);

  padding          : $hr-default-padding;

  background-color : $white;
}

.hr-row {
  margin-bottom : 1.5em;

  .hr-item {
    @include box-shadow(transparentize($black, 0.8) 0px 0px 2px 1px);

    padding-left     : 0;
    padding-right    : 0;

    background-color : $white;

    .hr-head {
      width         : 100%;
      border-bottom : 1px solid $divider_color;
      margin-bottom : 10px;
      padding-left  : 0;
      padding-right : 0;
      display       : table;

      .row {
        display : table-row;

        .hr-head-name-wrapper, .hr-head-info-wrapper {
          display : table-cell;
        }

        .hr-head-name-wrapper {
          border-right : 1px solid $divider_color;
          width        : percentage(10/12)
        }

        .hr-head-info-wrapper {
          font-size      : 75%;
          //          background-color : darken($white, 10%);
          //          border-right   : 1px solid darken($white, 10%);
          width          : percentage(2/12);
          vertical-align : top;

          .hr-head-info {
            float : right;
          }
        }

      }

      h1 {
        padding-top   : 10px;
        margin-top    : 0px;
        margin-bottom : 10px;
        padding-left  : $hr-padding-left;
        padding-right : $hr-padding-right;
      }
    }

    .hr-body {
      padding-left  : $hr-padding-left;
      padding-right : $hr-padding-right;
    }

    .hr-info {
      border-top : 1px solid $divider_color;
      padding    : 1em 1em;
    }

    .hr-footer {
      border-top : 1px solid $divider_color;
      //      padding-bottom : 10px;

      .comment-list {

        &:hover {
          .comment-item:nth-child(odd) {
            background-color : $white;
          }
          .comment-item:hover {
            background-color : darken($white, 3%);
          }
        }

        .comment-item {
          padding-left  : $hr-padding-left;
          padding-right : $hr-padding-right;
          padding-top   : $hr-default-padding;

          font-size     : 90%;

          &:nth-child(odd) {
            background-color : darken($white, 3%);
          }

          &:last-child {
          }
        }
      }

      .add-comment {
        padding : $hr-default-padding;

        .col-xs-10 {
          padding-left : 0;
        }
      }
    }
  }

}

.nav.nav-pills.nav-stacked li > a {
  @include border-radius(0px);

  padding-top    : 0;
  padding-bottom : 0;
}