{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title></title>
        {% block style %}
            <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        {% endblock %}

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </body>
{% block js %}
{% endblock %}
</html>