<div class="row hr-row">
    <div class="col-md-12">
        <div class="hr-item" id="hr-item-{{ item.pk }}" data-id="{{ item.pk }}" data-type="{{ item.get_item_type }}">
            <div class="hr-head">
                <div class="row">
                    <div class="hr-head-name-wrapper">
                        <div class="hr-head-name">
                            <a href="{% url url_detail_name item.pk %}"><h1>{{ item.title }}</h1>
                            </a>
                        </div>
                    </div>
                    <div class="hr-head-info-wrapper">
                        <div class="hr-head-info">
                            <a href="#" class="hr-username">{{ item.added_by.username }}</a>
                            <a href="#" class="hr-postdate">{{ item.date|timesince }}</a>
                            {% if item.added_by_id == request.user.pk %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-wrench"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url url_edit_name item.pk %}"><span
                                                class="glyphicon glyphicon-pencil"></span> Редактировать</a></li>
                                        <li><a href="{% url url_delete_name item.pk %}"><span
                                                class="glyphicon glyphicon-trash"></span> Удалить</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                            {#                            {% endif %}#}
                            {# TODO: normalize date as vasa said #}
                        </div>
                    </div>
                </div>
            </div>
            {% if detail %}
                <div class="hr-body">{{ item.description|safe }}</div>
            {% else %}
                <div class="hr-body">{{ item.description|truncatewords:50|safe }}</div>
                {% if item.last_edit %}
                    <div class="hr-timestamp">
                        <small class="text-muted">Обновлено {{ item.last_edit|timesince }} назад</small>
                    </div>
                {% endif %}
            {% endif %}

            {% include "tags/tags.html" with tags=item.tags.all %}
            <div class="hr-info clearfix">
                <div class="pull-left">
                    <a href=""><i class="glyphicon glyphicon-star-empty"></i></a>
                    <a href=""><i class="glyphicon glyphicon-chevron-up" style="margin-left: 3em"></i></a>
                    {{ item.rating }}
                    <a href=""><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a class="btn btn-xs btn-warning" id="report_abuse_link" href="{% url "create_feedback_for" objtype=item.get_item_type pk=item.pk %}">Пожаловаться</a>
                </div>
                <div class="pull-right">
                    <button class="btn btn-xs btn-primary">twittah</button>
                    <button class="btn btn-xs btn-primary">vikey</button>
                    <button class="btn btn-xs btn-primary">facebooka</button>
                </div>
            </div>
            <div class="hr-footer">
                {% if detail %}
                    {% include "comments/add_comment.html" %}
                    <div class="comment-list">
                        {% if item.first_line_comments.all %}
                            {% include "comments/comments_list.html" with comments=item.first_line_comments.all %}
                        {% endif %}
                    </div>
                    {#      TODO: buttons here #}
                {% endif %}
            </div>
        </div>
    </div>
</div>